* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #FFF;
}

.user-info {
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    background-color: #012E67;
    padding: 15px 30px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    background-color: #FFF;
}

.sidebar {
    width: 16vw;
}

.sidebar h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 13px 30px;
    background-color: #012E67;
    color: #FFF;
}

.private {
    width: 100%;
    background-color: antiquewhite;
}

h4 {
    padding-top: 10px;
    padding-left: 10px;
}

.profile {
    max-width: 350px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dotted #333;
}

.profile a{
    text-decoration: none;
    color: black;
}

.check-info {
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dotted #333;
}

.check-info a{
    text-decoration: none;
    color: black;
}

.function-online {
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dotted #333;
}

.function-online a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.content {
    flex-grow: 1;
    margin-left: 50px;
    max-height: max-content;
    border-left: 1px solid gray;
}


.content h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 13px 30px;
    background-color: #012E67;
    color: #FFF;
}
